/**
 * Fabio Comuni <http://kirgroup.com/profile/fabrixxm>
 **/

@import url("../dark/style.css") all;

a,
a:link {
  color: #009100;
  text-decoration: none;
}
a:visited {
  color: #009100;
  text-decoration: none;
}
a:hover {
  color: #009100;
  text-decoration: underline;
}
.fakelink {
  color: #009100;
  text-decoration: none;
  cursor: pointer;
}
.fakelink:hover {
  color: #009100;
  text-decoration: underline;
}
.notif-item:nth-child(even) {
  background-color: #ddffdd;
}
/* nav */
nav {
  width: 100%;
  height: 32px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  background-color: #009100;
  color: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
}
nav .nav-menu {
  position: relative;
  height: 16px;
  padding: 5px;
  margin: 3px 15px 0;
  font-size: 14px;
  border-bottom: 3px solid #009100;
}
nav .nav-notify {
  display: none;
  position: absolute;
  background-color: #dc0000;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 10px;
  padding: 1px 3px;
  top: 0;
  right: -10px;
  min-width: 15px;
  text-align: right;
}
ul.menu-popup a:hover {
  background-color: #ccff42;
}
.autocomplete > div.selected,
.acpopupitem.selected {
  background-color: #ccff42;
}
.textcomplete-item.active {
  background-color: #ccff42;
}
aside #wallmessage-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #009100 url('../../../images/connect-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
  margin-top: 3px;
}
aside #wallmessage-link:hover {
  text-decoration: none;
  background-color: #ccff42;
}
aside #dfrn-request-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #009100 url('icons/connect-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
}
aside #dfrn-request-link:hover {
  text-decoration: none;
  background-color: #ccff42;
}
aside #subscribe-feed-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #009100 url('icons/rss-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
}
aside #subscribe-feed-link:hover {
  text-decoration: none;
  background-color: #ccff42;
}
.comment-edit-preview {
  width: 710px;
  border: 1px solid #2d2d2d;
  margin-top: 10px;
  background-color: #ddffdd;
}
.comment-edit-preview .tread-wrapper {
  width: 90%;
  padding: 0;
  margin: 10px 0;
  background-color: #ddffdd;
  border-bottom: 0;
}
.shiny {
  border-right: 10px solid #ddffdd;
}
#jot-preview-content .tread-wrapper {
  background-color: #ddffdd;
}
#contacts-actions .batch-action:hover {
  background-color: #ccff42;
}
#contact-edit-status-wrapper {
  border-color: #9ade00;
}
#jot #jot-tools {
  margin: 0;
  padding: 0;
  height: 40px;
  overflow: none;
  width: 770px;
  background-color: #009100;
  border-bottom: 2px solid #9eabb0;
}
#jot #jot-tools li a {
  display: block;
  color: #2d2d2d;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
#jot #jot-tools li:hover {
  background-color: #9ade00;
  border-bottom: 2px solid #bdcdd4;
}
#jot #jot-tools li.submit input:hover {
  background-color: #ccff42;
  color: #666666;
}
ul.tabs li .active {
  border-bottom: 1px solid #009100;
}
.fbrowser .path {
  background-color: #009100;
}
