/* dark variation Fabio Comuni <fabrix.xm@gmail.com> */

a:link, a:visited { color: #99CCFF; text-decoration: none; }
a:hover {text-decoration: underline; }

input, select, textarea {
	background-color: #222222;
	color: #FFFFFF !important;
	border: 1px solid #444444;
}
.openid { background-color: #222222;}

body { 	background-color: #222222; color: #cccccc; background-image: url('imgdarkzero/head.jpg'); }
aside{ 	background-image: url('imgdarkzero/border.jpg'); padding-bottom: 0px; }
section { background-color: #333333;	background-image: url('imgdarkzero/border.jpg'); }
#panel { background-color: #2e2f2e;}

.tabs {	background-image: url('imgdarkzero/head.jpg'); }
div.wall-item-content-wrapper.shiny {  background-image: url('ingdarkzero/shiny.png'); }

nav #banner #logo-text a { color: #ffffff; }

/* Contact-Header for the Network Stream */
#viewcontact_wrapper-network {background-image: url('imgdarkzero/head.jpg');}

.wall-item-content-wrapper { 
	border: 1px solid #444444; 
	background: #444444;  
}
.wall-item-outside-wrapper.threaded > .wall-item-content-wrapper {
	-moz-border-radius: 3px 3px 0px;
	border-radius: 3px 3px 0px;	
}
.wall-item-tools {	background-color: #444444;   background-image: none;}
.comment-wwedit-wrapper{
	background-color: #333333;
}
.comment-wwedit-wrapper.threaded {
	border: solid #444444;
	border-width: 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;	
}
.editicon {
    	background-color: #333;
}
.comment-edit-preview{ color: #000000; }
.wall-item-content-wrapper.comment { background-color: #444444; border: 0px;}
.photo-top-album-name{ background-color: #333333; }
.photo-album-image-wrapper .caption { background-color: rgba(51, 51, 51, 0.8); color: #FFFFFF; }

.nav-selected.nav-link { color: #ffffff!important; border-bottom: 0px}
.nav-commlink, .nav-login-link {background-color: #b7bab3;}
.nav-commlink:link, .nav-commlink:visited,
.nav-login-link:link, .nav-login-link:visited{
	color: #ffffff;
}

.fakelink, .fakelink:visited {
	color: #99CCFF;
}

.wall-item-name-link {
	color: #99CCFF;
}

.wall-item-photo-menu li a, .contact-photo-menu {
	color: #CCCCCC; background-color: #333333;
}

.wall-item-photo-menu li a:hover {
	background-color: #CCCCCC; color: #333333;
}

code {
  background:#2e2f2e !important;
  color:#fff !important;
}

blockquote {
  background:#2e2f2e !important;
  color:#eec !important;
}


#page-footer { min-height: 1em;}
footer {
	margin: 0px 10%;
	display: block;
	background-image: url('imgdarkzero/sectionend.jpg');
	background-position: top left;
	background-repeat: repeat-x;
	height: 25px;	
}


input#dfrn-url {
	background-color: #222222;
	color: #FFFFFF !important;
}
.pager_first a, .pager_last a, .pager_prev a, .pager_next a, .pager_n a, .pager_current, .scroll_loader_text {
    color: #000088;
}

#jot-perms-icon {
	float: left;
}


#jot-title, #jot-category {
	background-color: #333333;
	border: 1px solid #333333;
}

#jot-title::-webkit-input-placeholder{ color: #555555!important;}
#jot-title:-moz-placeholder{color: #555555!important;}
#jot-category::-webkit-input-placeholder{ color: #555555!important;}
#jot-category:-moz-placeholder{color: #555555!important;}
		
	
#jot-title:hover,
#jot-title:focus,
#jot-category:hover,
#jot-category:focus {
	border: 1px solid #cccccc; 
}

.acl-list-item p, #profile-jot-email-label, div#jot-preview-content, div.profile-jot-net {
        color: #eec;
}
#fancybox-content{
  background:#444;
}

input#acl-search {
        background-color: #aaa;
}


.notify-seen {
  background:#111;
}

#nav-notifications-menu {
  background: #2e2e2f;
}

#nav-notifications-menu li:hover {
  background: #444;
}

.acpopupitem{
  background:#2e2f2e;
}

.group-selected, .nets-selected, .fileas-selected, .categories-selected{
  background:#2e2f2e;
}

/* Events */

.fc-state-highlight {
background: #666 !important;
}

.fc-state-disabled, .fc-state-disabled .fc-button-inner {
color: #000 !important;
}

/*Admin page */

#adminpage table tr:hover {
    color: #eec;
    background-color: #666;
}

.settings-widget .selected {
background: #666;
}


/* Stuff that doesn't seem to fit with anything else */

#datebrowse-sidebar select {
color:#99CCFF !important;
}

input#prvmail-subject {
background: #222 !important;
}
