/* green variation by Tobias Diekershoff <tobias.diekershoff@gmx.net> */

a:link, a:visited { color: #549f4f; text-decoration: none; }
a:hover {text-decoration: underline; }

.nav-selected.nav-link { color: #549f4f!important; border-bottom: 0px}
.nav-commlink, .nav-login-link {background-color: #aed3b2;}
.nav-commlink:link, .nav-commlink:visited,
.nav-login-link:link, .nav-login-link:visited{
	color: #ffffff;
}

.icon {
	display: block; width: 16px; height: 16px;
	background-image: url('imggreenzero/greenicons.png');
}



body { 	background-image: url('imggreenzero/head.jpg'); }
aside { background-image: url('imggreenzero/border.jpg'); }
section { background-image: url('imggreenzero/border.jpg'); }
.tabs {	background-image: url('imggreenzero/head.jpg'); }
#viewcontact_wrapper-network { background: #DBEAD7; }
div.wall-item-content-wrapper.shiny {  background-image: url('imggreenzero/shiny.png'); }

.fakelink, .fakelink:visited, .fakelink:hover, .fakelink:link {
	color: #549f4f !important;
}

.wall-item-name-link {
	color: #549f4f;
}


