a, a:link, a:visited { color: #7433af; text-decoration: none; }
a:hover {text-decoration: underline; }


body { 	background-image: url('imgpurplezero/head.jpg'); }
aside {	background-image: url('imgpurplezero/border.jpg'); }
section { 	background-image: url('imgpurplezero/border.jpg'); }
#viewcontact_wrapper-network { background: #ECCAEB; }
.tabs {	background-image: url('imgpurplezero/head.jpg'); }
div.wall-item-content-wrapper.shiny {  background-image: url('imgpurplezero/shiny.png'); }


.nav-commlink, .nav-login-link {
	background-color: #aed3b2;

}

.fakelink, .fakelink:visited {
	color: #7433af;
}

.wall-item-name-link {
	color: #7433af;
}


