/* "Breathe" style for friendica theme "Vier"
 * silke june 2014 */

body {
  background-color: #eeeeee !important;
  font-family: "Lucida Sans Unicode","Lucida Sans", sans-serif;
}

header #banner #logo-text {
  margin-left: 7px;
}

#live-network {
  border-bottom: none !important;
}

code {
  border: none;
  border-radius: 5px;
}

header #banner a,
header #banner a:active,
header #banner a:visited,
header #banner a:link,
header #banner a:hover {
  color: #737373;
}

nav {
   background: #eeeeee;
}

nav .icon {
  color: #737373;
}

nav a:active,
nav a:visited,
nav a:link,
nav a:hover .icon,
nav a {
  color: #737373;
}

nav #search-box #search-text {
  border-radius: 5px;
}

nav .nav-menu.selected {
  border-bottom: 3px solid #737373;
}

nav .nav-menu-icon.selected {
  background-color: #eeeeee;
}

nav #nav-notifications-linkmenu.on .icon.s22.notify, nav #nav-notifications-linkmenu.selected .icon.s22.notify {
  color: #737373;
}

ul.menu-popup {
  border: 1px solid #364e59;
  border-radius: 5px;
}

.contact-photo-menu {
  border: 1px solid #364e59;
  border-radius: 5px;
}

.tread-wrapper {
  border-radius: 10px;
}

.wall-item-comment-wrapper textarea {
  border-radius: 5px;
}

#profile-jot-form {
  border-radius: 10px;
}

#profile-jot-form #profile-jot-text {
  border-radius: 5px;
}

ul.tabs {
  background-color: #eeeeee;
}

ul.tabs a {
  color: #737373;
}

#event-notice:hover, #birthday-notice:hover, ul.tabs li .active,
.comment-edit-submit-wrapper .fakelink:hover {
    color: #737373;
}

ul.tabs li .active {
  border-bottom: 3x solid #737373;
}

#birthday-notice, #event-notice {
  border-radius: 5px;
}

div.pager, .birthday-notice, .comment-edit-submit-wrapper .fakelink {
  border-radius: 5px;
}

div.pager, ul.tabs {
  box-shadow: none;
  border-bottom: none;
}

.vevent {
  border-radius: 5px;
}

.mail-list-wrapper {
  border-radius: 5px;
}

#viewcontact_wrapper-network {
  border-radius: 5px;
}
