*{ 
	box-shadow: 0 0 0 0 !important;
	border-color: #343434 !important;
}

hr { background-color: #343434 !important; }

a, .wall-item-name, .fakelink { 
	color: #989898 !important; 
}
.wall-item-content a {
	        font-weight: bold;
	}
.btn, .btn:hover{
	color: #989898;
	border: 2px solid #0C1116;
	background-color: #0C1116;
	text-shadow: none;
}

nav { 
	color: #989898 !important;
	background-color: #1C2126 !important; 
}

nav .nav-notify {
	background-color: #2C77AE !important
}

a.on {
	color: #FFFFFF !important;
	background-color: #2C77AE !important
}

aside, right_aside, .menu-popup, .fc-state-highlight, a.off, .autocomplete {
	color: #989898 !important;
	background-color: #252C33 !important;
	border-right: 1px solid #D2D2D2;
}

body, section, blockquote, blockquote.shared_content, #profile-jot-form, 
.dspr, .twit, .pump, .dfrn, .tread-wrapper, code, .mail-list-wrapper, div.pager, ul.tabs {
	color: #989898 !important;
	background-color: #171B1F !important;
}

#profile-jot-acl-wrapper, #event-notice, #event-wrapper,
#cboxLoadedContent, .contact-photo-menu, #contact-edit-status-wrapper {
	background-color: #252C33 !important;
}

div.rte, .mceContentBody {
background:none repeat scroll 0 0 #333333!important;
color:#FFF!important;
text-align:left;
}

div.pager, ul.tabs {
  box-shadow: unset;
  border-bottom: unset;
}

input, option, textarea, select {
	color: #989898 !important;
	border: 2px solid #0C1116 !important;
	background-color: #0C1116 !important;
}

input#side-peoplefind-submit, input#side-follow-submit {
	margin-top: 2px !important;
}

li :hover {
	color: #767676 !important;
}

#viewcontact_wrapper-network {
	background-color: #343434;
}

table.smiley-preview{
	background-color: #252C33 !important;
}

/* ACL permission popup */
 .acl-list-item.groupshow {
	border-color: #9ade00 !important;
}

.acl-list-item.grouphide {
	border-color: #ff4141 !important;
}

/* Notifications */
li.notify-unseen {
	background-color: #252C33;
}

li.notify-seen {
	background-color: #1C2126;
}

.photo-top-album-name {
	background-color: #252C33;
}

#panel {
	background-color: #252C33;
	border: 3px solid #364e59;
	color: #989898;
}
