*{ box-shadow: 0 0 0 0 !important;} 
body, section { background-color: #ffffff !important;}
#profile-jot-form { background-color: #ffffff !important;}
.dspr, .twit, .pump, .dfrn { background-color: #ffffff !important;}

div.pager, ul.tabs {
  box-shadow: unset;
  background-color: unset;
  border-bottom: unset;
}

aside {
  border-right: 1px solid #D2D2D2;
}

right_aside {
  border-left: 1px solid #D2D2D2;
}
