.tread-wrapper {
   background-color: #fafafa;
}
.twit {
  /* background-color: #FFFAFA; */
  background-color: #fafeff;
}
.pump {
  /* background-color: #FAFFFA; */
  background-color: #fcfffa;
}
.face {
  /* background-color: #FAFAFF; */
  background-color: #fafcff;
}
.feed {
  /* background-color: #FFFFFA; */
  background-color: #fffdfa;
}
.dspr {
  background-color: #FFFAFF;
}
.dfrn {
  background-color: #FAFAFA;
}
.stat {
  /* background-color: #FAFFFF; */
  background-color: #fffafd;
}
.mail {
  /* background-color: #FFFFF9; */
  background-color: #fffafa;
}
