/* Modifications by https://horche.demkontinuum.de/profile/hoergen */

h1 {
  font-size: 18px;
  color: blue;
}

h2 {
  font-size: 16px;
  color: blue;
  background-color: #EEEEEE;
}

h3 {
  font-size: 14px;
  color: blue;
}
h4 {  font-size: 14px;}

.settings-heading {
  font-size: 18px;
  color: black;
  font-weight: bold;
  background-color: #cfcece;
}

.setings-contend-block {
  background-color: white;
}

#settings-form {
  background-color: whitesmoke;
}

nav {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 6px;
  padding-bottom: 6px;
}

nav a:active,
nav a:link,
nav a:visited,
nav a {
  color: #737373;
}

nav a:hover,
#nav-messages-see-all a:hover {
  color: #000;
}

.manage-notify {
  background-color: #CB4437;
  border-radius: 10px;
  font: bold 11px/16px Arial;
}

nav .nav-notify {
  background-color: #CB4437;
  top: -3px;
  right: -4px;
  font: bold 11px/16px Arial;
  padding: 1px;
  border-radius: 10px;
}

nav .nav-menu-icon .nav-notify {
  top: 0px;
}

nav .nav-menu.selected a {
  color: #000;
}

nav .nav-menu:hover,
nav .nav-menu.selected {
  border-bottom: 2px solid #427FED;
}

nav .nav-menu {
  height: 23px;
  font-size: 14px;
  font-weight: initial;
}

#nav-apps-menu,
#nav-site-menu,
#nav-notifications-menu,
#nav-user-menu {
  top: 32px;
}

#nav-messages-menu {
  top: 32px;
}

#nav-messages-see-all a {
  color: #737373;
}

ul.tabs li .active, span.pager_current a {
  border-bottom: 2px solid #427FED;
}

span.pager_current, span.pager_n a:hover, 
span.pager_first a:hover, span.pager_last a:hover, 
span.pager_prev a:hover, span.pager_next a:hover,
ul.tabs a:hover {
  border-bottom: 2px solid #427FED;
}

nav #nav-notifications-linkmenu.on .icon.s22.notify, nav #nav-notifications-linkmenu.selected .icon.s22.notify {
  color: #737373;
}

nav #nav-messages-linkmenu.selected,
nav #nav-user-linklabel.selected,
nav #nav-apps-link.selected {
  background-color: #fff;
  border-bottom-style: none;
}

div.jGrowl div.info {
  background: #fff url("../../../images/icons/48/info.png") no-repeat 5px center;
}

div.jGrowl div.notice {
  color: #737373;
}
div.jGrowl div.info {
  color: #737373;
}

.birthday-notice, .event-notice {
  font-weight: initial;
}

div.pager, ul.tabs {
  font-weight: initial;
}

nav .nav-menu-icon.selected {
  background-color: #fff;
}

#jot #jot-tools li:hover {
  background-color: #fff;
}

nav .icon {
  color: #737373;
}

nav a:hover .icon {
  color: #000;
}

ul.menu-popup {
  border: 0px solid #FFF;
  margin-top: 0px;
}

header #banner a, header #banner a:active, header #banner a:visited, header #banner a:link, header #banner a:hover {
  color: #737373;
}

header {
  left: 10px;
}

header #banner {
  margin-top: 6px;
}

#banner #logo-text {
  margin-left: 5px;
}

aside {
  top: 44px;
  height: calc(100% - 54px);
}

right_aside {
  top: 44px;
}

section {
  top: 44px;
}

nav #nav-search-box #nav-search-text {
  background-color: initial;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

.widget h3 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: initial;
  background-color: #EEEEEE;
  color: #505050;
  font-weight: bolder;
}

/* Timeline */

div.pager, ul.tabs {
  border-radius:5px;
}

/* Post*/

#profile-jot-form { border-radius: 5px; }

.tread-wrapper { border-radius: 5px; }

/* Post header */

.wall-item-container .wall-item-name,
.wall-item-container .shared-author {
  color: #555;
  font-weight: normal;
  font-size:10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toplevel_item:hover .wall-item-name,
.wall-item-container:hover .wall-item-name,
.toplevel_item:hover .shared-author,
.wall-item-container:hover .shared-author {
  color: #36c;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dt-published { font-size:10px; }

/* Post content */
.wall-item-content blockquote {
  border-left: 2px solid #D2D2D2;
  margin-top: 10px;
  margin-bottom:10px;
}

.wall-item-content strong { color:#565656; }

.wall-item-network { font-size:10px; }

.mention { font-size:12px;}

.tag { font-size:12px; }

.type-link, .type-video {
  border-top: 0px solid #D2D2D2;
  border-bottom: 0px solid #D2D2D2;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.type-link blockquote{
  border-left: 2px solid #D2D2D2;
  margin-top: 10px;
  margin-bottom:10px;
  padding-left: 5px;
  font-size:12px;
}

/* Post footer */
.wall-item-like { font-size:12px; }

.wall-item-actions-author{
  font-size:10px;
  font-weight:normal;
  margin-bottom: -0.7em;
  line-height: 5px;
}

.wall-item-tags  { font-size:10px; }

.wall-item-container.comment .contact-photo  { height:25px; width:25px;}

#item-delete-selected { font-size:12px; }

.item-select {
  width: 1px;
  height: 1px;
  background: #000;
  position: relative;
  border-radius: 9px;
}

.contact-menu {
  font-size:12px; 
  padding-top:0px;
  padding-bottom:0px;
}

.wall-item-bottom { font-size: 14px; }

/* comments */

.wall-item-like { font-size:10px; }

.wall-item-container.comment { border-bottom: 0px; }

.hide-comments-outer {
  margin-left: 80px;
  margin-bottom: 5px;
  width: 660px;
  border-bottom: 0px;
  border-top: 0px;
  font-size: 10px;
  padding: 8px;
}

.fakelink {
  color: #36c;
  text-decoration: none;
  font-size: 10px; 
  cursor: pointer;
}

/* Calendar */

.fc-body { background-color: white; }

.fc-content, .fc-widget {
  background-color: #a7ecff; 
  color: black;
  text-decoration: normal;
}

.fc-toolbar {
  text-align: center;
  margin-bottom: 1em;
  background: white;
}

.fc-day-grid-event .fc-time {
  font-weight: normal;
  font-size: 10px;
}

.fc-title, fc-time { text-decoration: normal; }

.fc-unthemed .fc-today { background: #f9ff97; }

/* remove standard-styles */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:1px;
  border-radius: 5px;
} 

option {
  background:white;
  border-top:0px solid #000;
  height:15px;
  font-size:10px;
}

/* styling */
select {
  border: 1px solid #bbb;
  background-color: lightgrey;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.5);
  height:20px;
}

