right_aside {
  display: block;
}

#forumlist-sidebar {
  display: none;
}

right_aside span.sbox {
  margin-left: 10px;
}

right_aside .directory-item {
  width: 50px;
  height: 50px;
}

right_aside img.directory-photo-img {
  width: 45px;
  height: 45px;
}

right_aside #right_services img {
  width: 34px;
}

right_aside #lastusers-wrapper,
right_aside div.itens-wrapper,
right_aside #right_services_icons {
  margin-left: 10px;
  margin-top: 5px;
}
