favicon.*
/.htconfig.php
/.htpreconfig.php
\#*
*.log
*.out
*.version*
home.html
*~
robots.txt

#ignore local config
/config/local.config.php
/config/addon.config.php
/config/local.ini.php
/config/addon.ini.php

#ignore documentation, it should be newly built
/doc/api
/doc/cache

#ignore reports, should be generated with every build
report/

#ignore config files from eclipse, we don't want IDE files in our repository
.project
.buildpath
.externalToolBuilders
.settings

#ignore OSX .DS_Store files
.DS_Store

#ignore NetBeans IDE's private files (at least)
/nbproject/private/

Ignore config files from VSCode
/.vscode/

#ignore smarty cache
/view/smarty3/compiled/

#ignore cache folders
/privacy_image_cache/
/photo/
/proxy/
nbproject

#ignore vagrant dir
.vagrant/

#ignore local folder
/local/

#ignore config files from Visual Studio
/.vs/
/php_friendica.phpproj
/php_friendica.sln
/php_friendica.phpproj.user

#ignore things from transifex-client
venv/

#ignore Composer dependencies
/vendor
/view/asset

#ignore config files from JetBrains
/.idea

#ignore addons directory
/addons
/addon

#ignore base .htaccess
/.htaccess

#ignore filesystem storage default path
/storage

#Ignore log folder
/log

#Ignore temporary installed phpunit
/bin/phpunit

#Ignore cache file
.php_cs.cache

#ignore avatar picture cache path
/avatar

#Ignore autotest results
autotest-results.xml

#ignore phpunit result cache
tests/.phpunit.result.cache

#ignore .php_cs (local copy)
.php_cs
