favicon.*
.htconfig.php
.htpreconfig.php
\#*
include/jquery-1.4.2.min.js
*.log
*.out
*.version*
favicon.*
home.html
addon
*~
robots.txt

#ignore documentation, it should be newly built 
doc/api

#ignore reports, should be generted with every build
report/

#ignore config files from eclipse, we don't want IDE files in our repository
.project
.buildpath
.externalToolBuilders
.settings
#ignore OSX .DS_Store files 
.DS_Store

/nbproject/private/

#ignore smarty cache
/view/smarty3/compiled/

#ignore cache folders
/privacy_image_cache/
/photo/
/proxy/
nbproject

#ignore vagrant dir
.vagrant/

#ignore local folder
/local/
