/* global basic typography settings */

textarea,
pre,
code,
kbd,
samp,
var,
tt {
	font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}

/* (en) base layout gets standard font size 15px */
/* (de) Basis-Layout erhält Standardschriftgröße von 15 Pixeln */


body {
	margin: 0 auto;
	padding-bottom: 3em;
	width: 960px;
	height: 100%;
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-size: 15px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 18px;
	color: #626262;
	background-color: #F2F2F2;
	color: #333333;
/* (en) Prevent auto-scaling of text in mobile webkit browsers */
/* (de) Automatische Schriftvergrößerung in mobilen Webkit-Browsern vermeiden */
	-webkit-text-size-adjust:100%;
}

/*--- Headings | Überschriften ------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-weight: 550;
	color:#626262;
	margin: 0;
}

h1 {
	font-size: 200%;
	line-height: 0.8571em;
	margin: 0.4286em 0 0;
}

h2 {
	font-size:170%;
	line-height: 1.2em;
	margin: 0.6em 0 0 0;
}

h3 {
	font-size: 145%;
	margin: 0 0 5px 0;
}

h4 {
	font-size: 133.33%;
	line-height: 1.125em;
	margin: 1.125em 0 0 0;
}

h5 {
	font-size: 116.67%;
	line-height: 1.2857em;
	margin: 1.2857em 0 0 0;
}

h6 {
	font-weight: bold;
	font-size:100%;
	line-height: 1.5em;
	margin: 1.5em 0 0 0;
}

/*h3 > a, h4 > a {
	font-size: 18px;
	color: #626262;
}*/

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

ul,
ol,
dl {
	font-size:1em;
	line-height:1.5em;
}

ul {
	list-style-type:disc;
}

ol {
	list-style-type:decimal;
}

ul ul {
	list-style-type:circle;
	margin-top:0;
}

ol ol {
	list-style-type:lower-latin;
	margin-top:0;
}

ol ul {
	list-style-type:circle;
	margin-top:0;
}

li {
	font-size:1em;
	line-height:1.5em;
	list-style: none outside none;
}

dt { font-weight:bold; }

dd { }


/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

p {
	max-width: 600px;
	font-size:1em;
	/*line-height:1.5em;*/
	/*margin: 1.5em 0 0 0;*/
}

blockquote, cite, q {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

blockquote {
	background-color: #F4F8F9;
	border-left: 4px solid #DAE4EE;
	margin: 0;
	padding: 0.4em;
	white-space: normal;
}

strong, b { font-weight:bold; }

em, i { font-style:italic; }

big {
	font-size:116.667%;
}

small {
	font-size:85.71%;
}

pre,
code,
kbd,
tt,
samp,
var {
	font-size:100%;
}

pre {
	line-height:1.5em;
	margin: 1.5em 0 0 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code { color:#800; }

kbd, samp, var, tt {
	color:#666;
	font-weight:bold;
}

var, dfn { font-style:italic; }

acronym, abbr {
	border-bottom:1px #aaa dotted;
	font-variant:small-caps;
	letter-spacing:.07em;
	cursor:help;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

mark {
	background: #ff0;
	color: #000;
}

hr {
	color:#fff;
	background:transparent;
	margin:0 0 0.75em 0;
	padding:0 0 0.75em 0;
	border:0;
	border-bottom:1px #eee solid;
}

.required {
	display: inline;
	color: #1873a2;
}

.hidden { 
	display: none!important; 
}

/*--- Links ----------------------------------------------------------------------------------------- */

a {
	color: #1873a2;
	text-decoration: none;
	margin-bottom: 1px;
	background:transparent;
}

a:active { outline: none; }

/* (en) maximum contrast for tab focus - change with great care */
/* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
a:hover,
a:focus {
	color: #6da6c4;
	text-decoration:none;
}

/*--- Images ----------------------------------------------------------------------------------------- */

img,
figure {
	border: 0 none;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	max-width: 550px;
	margin: 0;
}

.flexible {
	margin-top: 1.5em;
	max-width: 100%;
	height: auto;
}

* html .flexible {	/* IE6 support */
	width: 98%;		/* 2% space for borders */
}

.bordered {
	margin-top: 1.5em;
	border: 2px #eee solid;
	border: 2px rgba(255,255,255,1) solid;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.25);
	box-shadow: 0 0 3px rgba(0,0,0,.25);
}

/*--- Tables ----------------------------------------------------------------------------------------- */

tr {
	border: 1px solid #eeeeee;
}
