/*
 * Friendica ShaShape font by Andi Stadler, 2015
 */

@font-face {
    font-family: 'ShaShape';
    src: url('friendica_shashape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.shashape {
    font-family: ShaShape;
}
.shashape.friendica:before {
    content: "3";
}
.shashape.archive:before{
    content: "a";
}
.shashape.base:before{
    content: "b";
}
.shashape.cloud:before{
    content: "c";
}
.shashape.download:before{
    content: "d";
}
.shashape.event:before{
    content: "e";
}
.shashape.friends:before{
    content: "f";
}
.shashape.group:before{
    content: "g";
}
.shashape.home:before{
    content: "h";
}
.shashape.iglu:before{
    content: "i";
}
.shashape.flag:before{
    content: "j";
}
.shashape.star:before{
    content: "k";
}
.shashape.heart:before{
    content: "l";
}
.shashape.message:before{
    content: "m";
}
.shashape.network:before{
    content: "n";
}
.shashape.settings:before{
    content: "o";
}
.shashape.profile:before{
    content: "p";
}
.shashape.skip:before{
    content: "q";
}
.shashape.reload:before{
    content: "r";
}
.shashape.search:before{
    content: "s";
}
.shashape.time:before{
    content: "t";
}
.shashape.undo:before{
    content: "u";
}
.shashape.logout:before,
.shashape.loggedin:before{
    content: "v";
}
.shashape.login:before,
.shashape.loggedout:before{
    content: "w";
}
.shashape.delete:before{
    content: "x";
}
.shashape.source:before{
    content: "y";
}
.shashape.signature:before{
    content: "z";
}
.shashape.like:before{
    content: "A";
}
.shashape.hesitate:before{
    content: "B";
}
.shashape.unlike:before,
.shashape.nolike:before{
    content: "C";
}
 .shashape.hash:before{
    content: "D";
}
.shashape.arrow7:before{
    content: "E";
}
.shashape.follow:before{
    content: "F";
}
.shashape.follower:before{
    content: "G";
}
.shashape.hand:before{
    content: "H";
}
.shashape.help:before{
    content: "I";
}
.shashape.arrow-leftright:before{
    content: "J";
}
.shashape.arrow-updown:before{
    content: "K";
}
.shashape.lock:before{
    content: "L";
}
.shashape.arrow-left:before{
    content: "M";
}
.shashape.arrow-right:before{
    content: "N";
}
.shashape.admin:before{
    content: "O";
}
.shashape.arrow-down:before{
    content: "P";
}
.shashape.arrow-up:before{
    content: "Q";
}
.shashape.request:before{
    content: "R";
}
.shashape.arrow-up2:before{
    content: "S";
}
.shashape.arrow-down2:before{
    content: "T";
}
.shashape.arrow-left2:before{
    content: "U";
}
.shashape.arrow-right2:before{
    content: "V";
}
.shashape.arrow-updown2:before{
    content: "W";
}
.shashape.arrow-leftright2:before{
    content: "X";
}
.shashape.arrow-leftright3:before{
    content: "Y";
}
.shashape.arrow-updown3:before{
    content: "Z";
}
.shashape.arrow-doubleup:before {
    content: "?";
}
.shashape.arrow-doublerigh:before{
    content: "=";
}
.shashape.arrow-doubleright2:before{
    content: "/";
}
.shashape.edit:before{
    content: "<";
}
.shashape.eye-open:before{
    content: ":";
}
.shashape.eye-closed:before{
    content: ";";
}
