@import url('style-profile.css');

.hide-comments-outer {
  width: 675px;
}

/* global */
body {
  font-size: 13px;
}

/*marker*/
nav .nav-menu {
  font-size: 15px;
}

/*marker*/
aside {
  width: 180px;
  padding: 0px 5px 0px 0px;
}

/*marker*/
.widget h3 {
  font-size: 1.05em;
}

/*marker*/
right_aside {
  width: 180px;
}
/*marker*/
right_aside h3 {font-size: 1.05em;}

/* wall item */
/*marker*/
.tread-wrapper {
  width: 775px;
}
/*marker*/
.wall-item-decor {
  left: 780px;
}
/*marker*/
.wall-item-container {
  width: 770px;
}

/*marker*/
.wall-item-container .wall-item-content {
  max-width: 690px;
}
/*marker*/
.wall-item-container .wall-item-content img {
  max-width: auto;
}

/*marker*/
.wall-item-container.comment {
  width: 690px;
}

/*marker*/
#profile-jot-wrapper{
	margin: 0 20px 20px 0;
   width: 785px;
}
/*marker*/
#profile-jot-submit-wrapper {
	width: 785px;
}

/** /acl **/
/** tab buttons **/
/*marker*/
ul.tabs {
  width: 805px;
}

