@import url('../diabook/style.css');

/* Why are these paths so long?  They should probably become ../icons/ in the next revision */

.icon.bb-url{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/bb-url.png");}
.icon.quote{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/quote.png");}
.icon.bold{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/bold.png");}
.icon.underline{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/underline.png");}
.icon.italic{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/italic.png");}
.icon.bb-image{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/bb-image.png");}
.icon.bb-video{
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/bb-video.png");}
 .icon.contacts {
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/contacts.png");}
.icon.notifications {
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/notifications.png");}
.icon.notify {
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/notify.png");}
.icon.messages {
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/messages.png");}
.icon.community {
  background-image: url("../../../view/theme/diabook/diabook-aerith/icons/community.png");}
  
.icon.drop 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/drop.png");}
.icon.drophide 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/drop.png");}
.icon.dislike 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/dislike.png");}
.icon.like 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/like.png");}
.icon.pencil 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/pencil.png");}
.icon.recycle 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/recycle.png");}
.icon.remote-link { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/remote.png");}
.icon.tagged    { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/tagged.png");}
.icon.file-as { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/file_as.png");}
.star-item.icon.unstarred { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/unstarred.png");}
.star-item.icon.starred { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/starred.png");}
.icon.link		{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/link.png");}
.icon.lock		{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/lock.png");}
.icon.unlock		{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/unlock.png");}
.icon.language    { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/language.png");}
.camera 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/camera.png");}
.attach 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/attach.png");}
.video2 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/video.png"); }	
.video 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/video.png");}
.audio2 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/audio.png");}
.audio 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/audio.png");}
.weblink 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/weblink.png");}
.globe 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/globe.png");}
.unglobe 	{ background-image: url("../../../view/theme/diabook/diabook-aerith/icons/unglobe.png");}
.edit    {background-image: url("../../../view/theme/diabook/diabook-aerith/icons/pencil2.png");}
.icon.block   {background-image: url("../../../view/theme/diabook/icons/block.png");}
.icon.block.dim  {background-image: url("../../../view/theme/diabook/icons/block.png");}
.icon.ad_drop 	{ background-image: url("../../../view/theme/diabook/icons/drop.png");}			  
.icon.on             { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/toogle_on.png"); background-repeat: no-repeat;}
.icon.off            { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/toogle_off.png"); background-repeat: no-repeat;}
.icon.prev           { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/prev.png"); background-repeat: no-repeat;}
.icon.next           { background-image: url("../../../view/theme/diabook/diabook-aerith/icons/next.png"); background-repeat: no-repeat;}
icon.border.camera{background-image: url("../../../view/theme/diabook/diabook-aerith/icons/camera.png");}
.icon.border.link{background-image: url("../../../view/theme/diabook/diabook-aerith/icons/weblink.png");}
av #nav-messages-linkmenu.on .icon.messages, nav #nav-messages-linkmenu.selected .icon.messages{
	background-image: url("../../../view/theme/diabook/diabook-aerith/icons/messages.png");}
.on .icon.notify,*/ nav #nav-notifications-linkmenu.selected .icon.notify{
	background-image: url("../../../view/theme/diabook/diabook-aerith/icons/notify.png");}
nav #nav-contacts-linkmenu.on .icon.contacts, nav #nav-contacts-linkmenu.selected .icon.contacts{background-image: url("../../../view/theme/diabook/diabook-aerith/icons/contacts.png");}

.menu-profile-icon.home{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/home.png") no-repeat;}
.menu-profile-icon.photos{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/mess_side.png") no-repeat;}
.menu-profile-icon.events{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/events.png") no-repeat;}
.menu-profile-icon.notes{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/notes.png") no-repeat;}
.menu-profile-icon.foren{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/pubgroups.png") no-repeat;}
.menu-profile-icon.com_side{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/com_side.png") no-repeat;}
.menu-profile-icon.pscontacts{
	background: url("../../../view/theme/diabook/diabook-aerith/icons/pscontacts.png") no-repeat;}




a {color: #333333;}

#fileas-sidebar .tool:hover  {background: aliceBlue;}

/* header */
header {
  background: #ff500f;
  background-color: #ff500f;
  border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: inset;
  background-image: linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -o-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -moz-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -ms-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.26, rgb(215,227,241)),
	color-stop(0.82, rgb(255,255,255))
);
}

header #banner a,
header #banner a:active,
header #banner a:visited,
header #banner a:link,
header #banner a:hover {
  color: #1f1f1f;
  font-weight: bolder;
}

header #banner #logo-text {
 font-size: 20px!important;position: relative!important;top: -4px!important;
}

/* messages */
#message-new {
  background: #3465A4;
  border: 1px solid #333;
}

/* nav */
nav { background: #ff500f;
  color: #1f1f1f;
 border-bottom: 1px;
  border-bottom-color: black;
  border-bottom-style: inset;
  background-image: linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -o-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -moz-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);
background-image: -ms-linear-gradient(bottom, rgb(215,227,241) 26%, rgb(255,255,255) 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.26, rgb(215,227,241)),
	color-stop(0.82, rgb(255,255,255))
);
}

nav a,
nav a:active,
nav a:visited,
nav a:link,
nav a:hover {
  color: #1f1f1f;
}

nav .nav-menu-icon:hover {
  position: relative;
  height: 22px;
  padding: 5px;
  margin: 0px 5px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

nav .nav-notify {
background-color: #fff;
  border: 1px solid black;
}

nav #nav-home-link, #nav-directory-link, #nav-apps-link{
font-size: 14px;
}

nav #nav-apps-link.selected {
 background-color: #fff;
  moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}

ul.menu-popup {
  background: #fff;}

ul.menu-popup a:hover {
  background-color: #3465A4; /*bdcdd4;*/
  color: #fff;
}

.menu-profile-list:hover{
	background: aliceBlue; 
}

aside #likes a, a:visited, a:link {
		color: #3465A4;
		text-decoration: none;
		cursor: pointer;
		
}
aside #likes a:hover{
	text-decoration: underline;
	}



.group_selected {
  background: url("../../../view/theme/diabook/icons/selected.png") no-repeat left center;
  float: left;
  height: 22px;
  width: 22px;
}
.group_unselected {
  background: url("../../../view/theme/diabook/icons/unselected.png") no-repeat left center;
  float: left;
  height: 22px;
  width: 22px;
}
.icon.text_add		{ 
		background-image: url("../../../images/icons/16/add.png");
		float: right;
		opacity: 0.2;
		margin-right: 14px;
		}
.icon.text_add:hover	{ 
		background-image: url("../../../images/icons/16/add.png");
		float: right;
		cursor: pointer;
		margin-right: 14px;
		opacity: 1;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
		}
.icon.text_edit {
  background-image: url("../../../images/icons/10/edit.png");
  opacity: 0.2;
  margin-top: 6px;
  float: right;
  height: 10px;
}
.icon.text_edit:hover {
  background-image: url("../../../images/icons/10/edit.png");
  opacity: 1;
  margin-top: 6px;
  float: right;
  height: 10px;
}

#side-bar-photos-albums ul li{
  margin-left: 30px;
  padding-left: 0px;
	}
#side-bar-photos-albums ul li a{
  color: #3465A4;

.widget .tool.selected {
  background: url("../../../view/theme/diabook/diabook-aerith/icons/selected.png") no-repeat left center;}

#birthday-wrapper a {
	color: #3465A4;
	}

.tread-wrapper a{
  color: #3465A4;
}

.wall-item-container .wall-item-item, .wall-item-container .wall-item-bottom {
  display: table-row;
}
.wall-item-bottom {
  font-size: 13px;
}
.wall-item-container .wall-item-bottom {
/*  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; */
}
.wall-item-container:hover .wall-item-bottom {
/*  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; */
}
.wall-item-container .wall-item-info {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 80px;
}
.wall-item-container .wall-item-location {
  padding-right: 40px;
  display: table-cell;
}
.wall-item-container .wall-item-ago {
  word-wrap: break-word;
  width: 50px;
  margin-left: 10px;
  color: #999;
}
.wall-item-location {
  
  clear: both;
  overflow: hidden;
  
  margin-bottom: 5px;
}

.wall-item-container .wall-item-content {

  max-width: 720px;
  word-wrap: break-word;


}

.wall-item-container .wall-item-content img {
  max-width: 700px;
}
.wall-item-container .wall-item-links, .wall-item-container .wall-item-actions {
  display: table-cell;
  vertical-align: middle;
}
.wall-item-container .wall-item-links .icon, .wall-item-container .wall-item-actions .icon {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wall-item-container .wall-item-links .icon:hover, .wall-item-container .wall-item-actions .icon:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.wall-item-container .wall-item-name {
  font-weight: bold;
}
.wall-item-container .wall-item-actions-author {
  width: 100%;
  margin-bottom: 0.3em;
}
.wall-item-container .wall-item-actions-social {
  float: left;
  margin-bottom: 1px;
  display: table-cell;
}
.wall-item-container .wall-item-actions-social a {
  margin-right: 1em;
}
.wall-item-actions-social a {
  float: left;
}
.wall-item-container .wall-item-actions-tools {
  float: right;
  width: 80px;
  display: table-cell;done
}
.wall-item-container .wall-item-actions-tools a {
  float: right;
}
.wall-item-container .wall-item-actions-tools input {
  float: right;
}
.wall-item-container.comment {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 80px;
  width: 700px;
  border-bottom: 1px solid hsl(198, 21%, 79%);
}


.comment-edit-preview {
  width: 500px;
  margin-top: 10px;
  background-color:  #fff797;
}

.button.creation2 {
    background-color: #3465A4;
	 cursor: pointer;
}


/*ACL*/

ul.tabs li .active {
    background-color: #3465A4;
    box-shadow: 2px 2px 2px #CFCFCF;}

ul.rs_tabs li .selected {
    background-color: #3465A4;}

/*Photo */

.photo {
box-shadow: 2px 2px 5px 0px #000000;
margin: 0px;
border-radius: 10px;
}

.calendar.eventcal a {
  color: #3465A4;	
}

.photo-top-album-name {
        width: 100%;
        position: absolute; 
        bottom: 0px; 
        padding-left: 3px;
        background-color: #EEE;
}
.photo-top-album-link{
  color: #3465A4;
}