@import url('style.css');

.hide-comments-outer {
  width: 675px;
}

/* global */
body {
  font-size: 13px;
}

/*marker*/
nav .nav-menu {
  font-size: 15px;
}

/*marker*/
aside {
  padding: 0px 5px 0px 0px;
}

/*marker*/
.widget h3 {
  font-size: 1.05em;
}

/*marker*/
.wall-item-decor {
  left: 780px;
}
/*marker*/
.wall-item-container {
  width: 770px;
}

/*marker*/
.wall-item-container .wall-item-content {
  max-width: 690px;
}
/*marker*/
.wall-item-photo-container .wall-item-content {
  max-width: 690px;
}

/*marker*/
.wall-item-container.comment {
  width: 690px;
}

/*marker*/
#profile-jot-wrapper{
	margin: 0 20px 20px 0;
}

/*marker*/
ul.tabs {
  width: 805px;
}

/* ============= */
/* = Directory = */
/* ============= */
.contact-name {
  font-size: 12px;
  margin-bottom: auto;
}

.page-type {
  font-size: inherit;
  font-style: inherit;
}
.directory-detailscolumn-wrapper {
  float: inherit;	
  width: auto;
  margin-right: auto;  
}
.directory-profile-wrapper dl {
  margin-top: auto;
  margin-bottom: auto;
}
.directory-profile-title {
  font-weight: auto;
  margin-bottom: auto;
  font-size: auto;
}

