@import url('../../diabook/style-profile.css');

 .icon.contacts {background-image: url("../diabook-pink/icons/contacts.png");}
.icon.notifications {background-image: url("../diabook-pink/icons/notifications.png");}
.icon.notify {background-image: url("../diabook-pink/icons/notify.png");}
.icon.messages {background-image: url("../diabook-pink/icons/messages.png");}
.icon.community {background-image: url("../diabook-pink/icons/community.png");}  
.icon.drop 	{ background-image: url("../diabook-pink/icons/drop.png");}
.icon.drophide 	{ background-image: url("../diabook-pink/icons/drop.png");}
.icon.dislike 	{ background-image: url("../diabook-pink/icons/dislike.png");}
.icon.like 	{ background-image: url("../diabook-pink/icons/like.png");}
.icon.pencil 	{ background-image: url("../diabook-pink/icons/pencil.png");}
.icon.recycle 	{ background-image: url("../diabook-pink/icons/recycle.png");}
.icon.remote-link { background-image: url("../diabook-pink/icons/remote.png");}
.icon.tagged    { background-image: url("../diabook-pink/icons/tagged.png");}
.icon.file-as { background-image: url("../diabook-pink/icons/file_as.png");}
.star-item.icon.unstarred { background-image: url("../diabook-pink/icons/unstarred.png");}
.star-item.icon.starred { background-image: url("../diabook-pink/icons/starred.png");}
.icon.link		{ background-image: url("../diabook-pink/icons/link.png");}
.icon.lock		{ background-image: url("../diabook-pink/icons/lock.png");}
.icon.unlock		{ background-image: url("../diabook-pink/icons/unlock.png");}
.icon.language    { background-image: url("../diabook-pink/icons/language.png");}
.camera 	{ background-image: url("../diabook-pink/icons/camera.png");}
.attach 	{ background-image: url("../diabook-pink/icons/attach.png");}
.video2 	{ background-image: url("../diabook-pink/icons/video.png");}	
.video 	{ background-image: url("../diabook-pink/icons/video.png");}
.audio2 	{ background-image: url("../diabook-pink/icons/audio.png");}
.audio 	{ background-image: url("../diabook-pink/icons/audio.png");}
.weblink 	{ background-image: url("../diabook-pink/icons/weblink.png");}
.globe 	{ background-image: url("../diabook-pink/icons/globe.png");}
.unglobe 	{ background-image: url("../diabook-pink/icons/unglobe.png");}
.edit    {background-image: url("../diabook-pink/icons/pencil2.png");}
.icon.on             { background-image: url("../diabook-pink/icons/toogle_on.png"); background-repeat: no-repeat;}
.icon.off            { background-image: url("../diabook-pink/icons/toogle_off.png"); background-repeat: no-repeat;}
.prev           { background-position: -90px  -60px;}
.next           { background-position: -110px -60px;}
.attachtype {background-image: url('../../../../images/content-types.png');}			  
.icon.border.camera{background-image: url("../diabook-pink/icons/camera.png");}
.icon.border.link{background-image: url("../diabook-pink/icons/weblink.png");}
.icon.s10.notify {background-image: url("../../../../images/icons/10/notify_off.png");}
.icon.s10.gear {background-image: url("../../../../images/icons/10/gear.png");}
.icon.s10.add {background-image: url("../../../../images/icons/10/add.png");}
.icon.s10.delete {background-image: url("../../../../images/icons/10/delete.png");}
.icon.s10.edit {background-image: url("../../../../images/icons/10/edit.png");}
.icon.s10.star {background-image: url("../../../../images/star_dummy.png");}
.icon.s10.menu {background-image: url("../../../../images/icons/10/menu.png");}
.icon.s10.link {background-image: url("../../../../images/icons/10/link.png");}
.icon.s10.lock {background-image: url("../../../../images/icons/10/lock.png");}
.icon.s10.unlock {background-image: url("../../../../images/icons/10/unlock.png");}
.icon.s16.notify {background-image: url("../../../../images/icons/16/notify_off.png");}
.icon.s16.gear {background-image: url("../../../../images/icons/16/gear.png");}
.icon.s16.add {background-image: url("../../../../images/icons/16/add.png");}
.icon.s16.delete {background-image: url("../../../../images/icons/16/delete.png");}
.icon.s16.star {background-image: url("../../../../images/star_dummy.png");}
.icon.s16.menu {background-image: url("../../../../images/icons/16/menu.png");}
.icon.s16.lock {background-image: url("../../../../images/icons/16/lock.png");}
.icon.s16.unlock {background-image: url("../../../../images/icons/16/unlock.png");}
.icon.s22.notify {background-image: url("../../../../images/icons/22/notify_off.png");}
.icon.s22.gear {background-image: url("../../../../images/icons/22/gear.png");}
.icon.s22.add {background-image: url("../../../../images/icons/22/add.png");}
.icon.s22.delete {background-image: url("../../../../images/icons/22/delete.png");}
.icon.s22.edit {background-image: url("../../../../images/icons/22/edit.png");}
.icon.s22.star {background-image: url("../../../../images/star_dummy.png");}
.icon.s22.menu {background-image: url("../../../../images/icons/22/menu.png");}
.icon.s22.link {background-image: url("../../../../images/icons/22/link.png");}
.icon.s22.lock {background-image: url("../../../../images/icons/22/lock.png");}
.icon.s22.unlock {background-image: url("../../../../images/icons/22/unlock.png");}
.icon.s48.notify {background-image: url("../../../../images/icons/48/notify_off.png");}
.icon.s48.gear {background-image: url("../../../../images/icons/48/gear.png");}
.icon.s48.add {background-image: url("../../../../images/icons/48/add.png");}
.icon.s48.delete {background-image: url("../../../../images/icons/48/delete.png");}
.icon.s48.edit {background-image: url("../../../../images/icons/48/edit.png");}
.icon.s48.star {background-image: url("../../../../images/star_dummy.png");}
.icon.s48.menu {background-image: url("../../../../images/icons/48/menu.png");}
.icon.s48.link {background-image: url("../../../../images/icons/48/link.png");}
.icon.s48.lock {background-image: url("../../../../images/icons/48/lock.png");}
.icon.s48.unlock {background-image: url("../../../../images/icons/48/unlock.png");}

a {color: #333333;}


#sidebar-group-list .tool:hover {background: #EEE;}

div.jGrowl div.notice {
  background: #511919 url("../../../../images/icons/48/notice.png") no-repeat 5px center;}
div.jGrowl div.info {background: #364e59 url("../../../../images/icons/48/info.png") no-repeat 5px center;}

header {
  background: #ffc1ca;
  background-color: #ffc1ca;
}

header #banner a,
header #banner a:active,
header #banner a:visited,
header #banner a:link,
header #banner a:hover {
  color: #ffffff;
  font-weight: bolder;}

nav {
  background: #ffc1ca;
  color: #1f1f1f;
}

nav a,
nav a:active,
nav a:visited,
nav a:link,
nav a:hover {
  color: #1f1f1f;}

nav #banner a,
nav #banner a:active,
nav #banner a:visited,
nav #banner a:link,
nav #banner a:hover {
  color: #1f1f1f;
}


nav .nav-menu-icon:hover {
  position: relative;
  height: 22px;
  padding: 5px;
  margin: 0px 5px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

nav .nav-notify {
  background-color: #fff;
  border: 1px solid black;
}

nav #nav-messages-linkmenu.on .icon.messages, nav #nav-messages-linkmenu.selected .icon.messages{
	background-image: url("../diabook-pink/icons/messages.png");
	}
	
/*nav #nav-notifications-linkmenu.on .icon.notify,*/ nav #nav-notifications-linkmenu.selected .icon.notify{
	background-image: url("../diabook-pink/icons/notify.png");
	}
	
nav #nav-contacts-linkmenu.on .icon.contacts, nav #nav-contacts-linkmenu.selected .icon.contacts{
	background-image: url("../diabook-pink/icons/contacts.png");
	}

nav #nav-apps-link.selected {
 background-color: #fff;
  moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}

ul.menu-popup a:hover {
  background-color: #d02b55;
  color: #000;
}

.menu-profile-list.home{
	background: url("../diabook-pink/icons/home.png") no-repeat;
	}
.menu-profile-list.photos{
	background: url("../diabook-pink/icons/mess_side.png") no-repeat;
	}
.menu-profile-list.events{
	background: url("../diabook-pink/icons/events.png") no-repeat;
	}
.menu-profile-list.notes{
	background: url("../diabook-pink/icons/notes.png") no-repeat;
	}
.menu-profile-list.foren{
	background: url("../diabook-pink/icons/pubgroups.png") no-repeat;
	}
.menu-profile-list.com_side{
	background: url("../diabook-pink/icons/com_side.png") no-repeat;
	}

aside #dfrn-request-link {
  background: #005c94 url('../../../../images/connect-bg.png') no-repeat left center;
 }

#side-bar-photos-albums li{
list-style-type: disc;
}
#side-bar-photos-albums ul li{
  margin-left: 30px;
  padding-left: 0px;
	}
#side-bar-photos-albums ul li a{
  color: #3465a4;
}

.widget .tool.selected {
  background: url("../diabook-pink/icons/selected.png") no-repeat left center;
}

span.sbox_l  {
	background: white url('../diabook-pink/icons/srch_l.gif') no-repeat top left;
}

span.sbox_r  {
	background: white url('../diabook-pink/icons/srch_r.gif') no-repeat top left;
}

span.sbox input {
	background: white url('../diabook-pink/icons/srch_bg.gif') repeat-x top left;
}

#birthday-wrapper a {
	color: #3465A4;
	}

right_aside a{color: #3465A4;}

.close_box		{ 
		background-image: url("../diabook-pink/icons/close_box.png");
		}
.close_box:hover	{ 
		background-image: url("../diabook-pink/icons/close_box.png");
		}


.tread-wrapper a{
  color: #d02b55;
}


.button.creation2 {
    background-color: #d02b55;}

#acl-search {
   background: #ffffff url("../../../../images/search_18.png") no-repeat right center;
}

#acl-showall {
  background-image: url("../../../../images/show_all_off.png");}

#acl-showall.selected {
  background-image: url("../../../../images/show_all_on.png");}

.acl-button-show {
  background-image: url("../../../../images/show_off.png");
}
.acl-button-hide {
  background-image: url("../../../../images/hide_off.png");
}
.acl-button-show.selected {
  background-image: url("../../../../images/show_on.png");
}
.acl-button-hide.selected {
  background-image: url("../../../../images/hide_on.png");
}


ul.tabs li .active {
    background-color: #d02b55;}

.field .onoff a {
  background-image: url("../../../../images/onoff.jpg");
}

.oauthapp img.noicon {
  background-image: url("../../../../images/icons/48/plugin.png");
 }

.photo {
box-shadow: 2px 2px 5px 0px #000000;
margin: 0px;}

.contact-photo-menu-button {background-image: url("../../../../images/icons/16/menu.png");}

.event-description:before {
        content: url('../../../../images/calendar.png');}

.calendar.eventcal a {
  color: #3465A4;	
	}

.photo-top-album-name {
        width: 100%;
        position: absolute; 
        bottom: 0px; 
        padding-left: 3px;
        background-color: #EEE;
}
.photo-top-album-link{
  color: #3465A4;
	}
