/**
 * Fabio Comuni <http://kirgroup.com/profile/fabrixxm>
 **/

@import url("../dark/style.css") all;

/* global */
body {
  font-family: Liberation Sans, helvetica, arial, clean, sans-serif;
  font-size: 11px;
  background-color: #F6ECF9;
  color: #2d2d2d;
  margin: 50px 0 0 0;
  display: table;
}
a,
a:link {
  color: #521f5c;
  text-decoration: none;
}
a:visited {
  color: #86608e;
  text-decoration: none;
}
a:hover {
  color: #86608e;
  text-decoration: underline;
}
.fakelink {
  color: #521f5c;
  text-decoration: none;
  cursor: pointer;
}
.fakelink:hover {
  color: #86608e;
  text-decoration: underline;
}
/* nav */
nav {
  width: 100%;
  height: 32px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  background-color: #521f5c;
  color: #ffffff;
  z-index: 100;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.7);
}
nav .nav-menu-icon.selected {
  background-color: #cbd38d;
}
nav .nav-menu {
  position: relative;
  height: 16px;
  padding: 5px;
  margin: 3px 15px 0;
  font-size: 14px;
  border-bottom: 3px solid #521f5c;
}
nav .nav-notify {
  display: none;
  position: absolute;
  background-color: #86608e;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 10px;
  padding: 1px 3px;
  top: 0;
  right: -10px;
  min-width: 15px;
  text-align: right;
}
nav #nav-apps-link.selected {
  background-color: #cbd38d;
}
ul.menu-popup a:hover {
  background-color: #c0a3c7;
}
.autocomplete > div.selected,
.acpopupitem.selected {
  background-color: #c0a3c7;
}
.textcomplete-item.active {
  background-color: #c0a3c7;
}
aside #wallmessage-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #521f5c url('../../../images/connect-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
  margin-top: 3px;
}
aside #wallmessage-link:hover {
  text-decoration: none;
  background-color: #86608e;
}
aside #dfrn-request-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #521f5c url('icons/connect-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
}
aside #dfrn-request-link:hover {
  text-decoration: none;
  background-color: #86608e;
}
aside #subscribe-feed-link {
  display: block;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  background: #521f5c url('icons/rss-bg.png') no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 2px 2px 35px;
}
aside #subscribe-feed-link:hover {
  text-decoration: none;
  background-color: #86608e;
}
.comment-edit-preview {
  width: 710px;
  border: 1px solid #2d2d2d;
  margin-top: 10px;
  background-color: #c0a3c7;
}
.comment-edit-preview .tread-wrapper {
  width: 90%;
  padding: 0;
  margin: 10px 0;
  background-color: #c0a3c7;
  border-bottom: 0;
}
.shiny {
  border-right: 10px solid #c0a3c7;
}
#jot-preview-content .tread-wrapper {
  background-color: #c0a3c7;
}
#contacts-actions .batch-action:hover {
  background-color: #c0a3c7;
}
#contact-edit-status-wrapper {
  border-color: #86608e;
}
#jot #jot-tools {
  margin: 0;
  padding: 0;
  height: 40px;
  overflow: none;
  width: 770px;
  background-color: #521f5c;
  border-bottom: 2px solid #9eabb0;
}
#jot #jot-tools li:hover {
  background-color: #86608e;
  border-bottom: 2px solid #bdcdd4;
}
#jot #jot-tools li.submit input:hover {
  background-color: #521f5c;
  color: #666666;
}
#jot #jot-title {
  border: 0;
  margin: 0;
  height: 20px;
  width: 500px;
  font-weight: bold;
  border: 1px solid #F6ECF9;
}
#jot #jot-category {
  border: 0;
  margin: 0;
  height: 20px;
  width: 200px;
  border: 1px solid #F6ECF9;
}
ul.tabs li .active {
  border-bottom: 1px solid #86608e;
}
.pager .disabled {
  display: none;
}
.fbrowser .path {
  background-color: #521f5c;
}
