.homeinfocontainer {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 15px;
	padding: 10px;
}
.homeinfobox p {
	text-align: justify;
}
#c1 {
	grid-column-start: 1;
	grid-column-end: 2;
}
#c2 {
	grid-column-start: 2;
	grid-column-end: 3;
}
#c3 {
	grid-column-start: 3;
	grid-column-end: 4;
}
