[Unit]
Description=Run Friendica Poller every n minutes

[Timer]
OnBootSec=120
OnUnitActiveSec=120
RemainAfterElapse=False

[Install]
WantedBy=timers.target
