/*
    Licence    : AGPL

    Created on : 30.04.2018, 15:03:06
    Author     : koyu
*/

#topbar-first,
#topbar-second,
body {
	background: #111;
	border: 0;
}

#topbar-first .dropdown.account > a,
#topbar-first .dropdown.account.open > a,
#topbar-first .dropdown.account > button,
#topbar-first .dropdown.account.open > button,
#topbar-first .dropdown.account > :hover,
#topbar-first .dropdown.account.open > :hover {
	background: #111;
	border: 0;
}

.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.account .dropdown-menu,
.contact-photo-wrapper .dropdown-menu {
	background: #111;
	-webkit-box-shadow: 0px 0px 69px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 69px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 69px 4px rgba(0, 0, 0, 0.25);
	border: 0;
}

.account .dropdown-menu li,
.account .dropdown-menu li:hover {
	border: 0;
	background: #111;
}

#topbar-first .topbar-nav .nav-segment > a:hover {
	background: #333;
}

.account .dropdown-menu li:hover {
	background: #333 !important;
}

.account .dropdown-menu li.divider {
	background: #111;
}
