<FilesMatch "\.tpl">
  <IfModule authz_host_module> 
    #Apache 2.4
    Require all denied
  </IfModule>
  <IfModule !authz_host_module>
    #Apache 2.2
    Deny from all
  </IfModule>
</FilesMatch>
