html {
	width: 100%;
}

body {
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-size: 16px;
	background-color: #ffffff;
	color: #505050;/* ZP Change*/
	margin: 0px;
}

a, a:visited, a:link { color: #3465a4; text-decoration: none; }
a:hover {text-decoration: underline; }

img { border :0px; }

.login-button {
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	
}

img.login-button-image {
	max-width: 300px;
}

div.section-wrapper {
	position: relative;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.login-form {
	margin-top: 40px;
}

.field {
	position: relative;
	margin-bottom: 15px;
}

.field label {
	margin-left: 25px;
	font-weight: 700;
	float: none;
	width: auto;
}

.field input {
	font-size: 18px;
	width: 200px;
	margin-left: 50px;
}

#login_openid {
	margin-top: 50px;
}

#login_openid input {
	background: url(login-bg.gif) no-repeat;
	background-position: 0 50%;
	width: 182px;
	padding-left: 18px;
	margin-left: 50px;
}

#login-footer {
	margin-top: 10px;
	text-align: center;
}

.login-extra-links, .agreement {
	font-size: 14px;
}

#login-submit-button, #register-submit-button, #lostpass-submit-button {
	font-size: 20px;
	padding: 0.5em 1em;
}

#register-link {
	margin-right: 100px;
}

.register-form {
	margin-top: 15px;
}

.register-form h2, .lostpass-form h2 {
	text-align: center;
}

.error-message {
	width: 270px;
	color: #FF0000;
	font-size: 1.1em;
	text-align: justify;
	border: 1px solid #FF8888;
	background-color: #FFEEEE;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.register-explain-wrapper {
	width: 290px;
	text-align: justify;
	font-size: 14px;
	margin-left: 5px;
}

#register-footer {
	margin-top: 60px;
	text-align: center;
}

.lostpass-form {
	margin-top: 100px;
}

#lostpass-desc {
	width: 290px;
	margin-left: 5px;
	margin-bottom: 30px;
	text-align: justify;
	font-size: 14px;
}

#login-submit-wrapper {
	text-align: center;
}
